<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<link href="__PUBLIC__/fourier/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="__PUBLIC__/fourier/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="__PUBLIC__/fourier/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/fourier/js/bootstrap.js"></script>
<link href='http://fonts.useso.com/css?family=Damion' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header-->
	<div class="header head-top">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>				  
						<div class="navbar-brand">
					<br/>
							<h2><a href="<{:U('admin/index')}>" style="color:#ffffff">北邮有间餐厅</a></h2>
						</div>
					</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="index.html">主页 <span class="sr-only">(current)</span></a></li>
							<li class="active"><a href="about.html">关于我们</a></li>
							<li><a href="index.html">美食</a></li>
								<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">美食展 <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="gallery1.html">美食展 1</a></li>
										<li><a href="gallery2.html">美食展 2</a></li>
										<li><a href="gallery3.html">美食展 3</a></li>
									</ul>
								</li>
							<li><a href="recent.html">餐厅动态</a></li>
							<li><a href="contact.html">留言板</a></li>
						</ul>
								  
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			
		</div>
	</div>
<!--header-->
			<!--content-->
				<div class="content">
				<!--about-->
					<div class="about-section">
						<div class="container">
							<h2><span>我们的</span> 餐厅</h2>
								<div class="about-grids">
									<div class="col-md-4 about-grid1">
										<img src="__PUBLIC__/fourier/images/g8.jpg" class="img-responsive" alt="/">
									</div>
									<div class="col-md-8 about-grid">
										<h5>我们的餐厅是由我们四个人联合创立的，我们主营西餐，在牛排，沙拉，披萨，啤酒虾。在这些美食的制作上我们十分有特色，主要是用我们餐厅的秘制的酱料来制作的，这种酱料主要包含21种配料，很多顾客也十分喜欢这种酱料的味道。此外我们沙拉中的蔬菜都是从最好的蔬菜基地购买的，可以保证每天食物的新鲜。并且我们的牛排采用上好的菲力牛排，吃起来肉质十分细腻，令顾客大为赞赏。此外，我们的披萨采用上好的芝士制作而成，配上我们自制的酱料，口感十分美味。啤酒虾是拿上好的啤酒腌制而成，十分入味，既有啤酒的味道又有虾肉的细腻，口感十分好，这道菜是我们餐厅卖的最好的一道菜，经常有顾客不远万里前来品尝，一些美食家也对我们这道菜赞不绝口。</p>
									</div>
									<div class="clearfix"></div>
								</div>
						</div>
					</div>
					<!--about-->
					<div class="cooking">
						<div class="container">
							<div class="cooking-grids">
								<div class="col-md-4 cook-grid">
									<div class="cook1">
										<h3>我们的宗旨 </h3>
										<p>我们餐厅时刻保持着以下6点宗旨：</p>
										<ul>
											<li><a href="#">顾客是上帝</a></li>
											<li><a href="#">时刻面带微笑</a></li>
											<li><a href="#">使用最优质的食材</a></li>
											<li><a href="#">采用最好的配方</a></li>
											<li><a href="#">雇佣最好的厨师</a></li>
											<li><a href="#">提供给顾客最好的环境</a></li>
											
										</ul>
									</div>	
								</div>
								<div class="col-md-4 cook-grid">
									<div class="cook2">
										<h3>优惠</h3>
										<p>我们会在各种节日和特殊的日子提供优惠活动：</p>
										<ul>
											<li><a href="#">顾客生日当天就餐，送蛋糕一个</a></li>
											<li><a href="#">情人节，情侣就餐半价优惠</a></li>
											<li><a href="#">感恩节，火鸡8折优惠</a></li>
											<li><a href="#">圣诞节会为每位顾客送一份小礼物</a></li>
											<li><a href="#">万圣节会为每位顾客送一份南瓜汤</a></li>
											<li><a href="#">复活节会为每位顾客送一个彩蛋</a></li>
											
										</ul>
									</div>						
								</div>
								<div class="col-md-4 cook-grid">
									<div class="cook3">
										<h3>菜品种类</h3>
										<p>我们饭店主要包含的一些菜品种类：</p>
										<ul>
											<li><a href="#">牛排</a></li>
											<li><a href="#">沙拉</a></li>
											<li><a href="#">披萨</a></li>
											<li><a href="#">海鲜</a></li>
											<li><a href="#">甜点</a></li>
											<li><a href="#">浓汤</a></li>
										</ul>
									</div>	
								</div>
							</div>
						</div>
					</div>
						<!--staff-->
							<div class="staff-section">
								<div class="container">
									<h3><span>我们的</span> 团队</h3>
									<ul class="ch-grid">
										<li>
											<div class="ch-item">				
												<div class="ch-info">
													<div class="ch-info-front ch-img-1"></div>
													<div class="ch-info-back">
															<h4>主管</h4>
														<p>曾颖森 </p>
													</div>	
												</div>
											</div>
										</li>
										<li>
											<div class="ch-item">
												<div class="ch-info">
													<div class="ch-info-front ch-img-2"></div>
													<div class="ch-info-back">
															<h4>主厨</h4>
														<p>柏沫羽</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="ch-item">
												<div class="ch-info">
													<div class="ch-info-front ch-img-3"></div>
													<div class="ch-info-back">
															<h4>主厨</h4>
														<p>李禹锋</p>
													</div>
												</div>
											</div>
										</li>
										 <li>
											<div class="ch-item">
												<div class="ch-info">
													<div class="ch-info-front ch-img-4"></div>
													<div class="ch-info-back">
															<h4>主厨</h4>
														<p>江宇鸥</p>
													</div>
												</div>
											</div>
										</li>
									</ul>

								</div>
							</div>
						<!--staff-->
							<!--iteam-->
						<div class="iteam">
							<div class="container">
								<h3><span>美食</span> 图片</h3>
									<div class="items-grids">
										<div class="col-md-4 items-grid">
											<img src="__PUBLIC__/fourier/images/g1.jpg"" class="img-responsive" alt="/">
										</div>
										<div class="col-md-4 items-grid">
											<img src="__PUBLIC__/fourier/images/g2.jpg"" class="img-responsive" alt="/">
										</div>
										<div class="col-md-4 items-grid">
											<img src="__PUBLIC__/fourier/images/g4.jpg"" class="img-responsive" alt="/">
										</div>
										
										<div class="clearfix"></div>
									</div>
							</div>
						</div>
						<!--iteam-->
						<!--our History-->
							<div class="history-section">
								<div class="container">
									<h3><span>我们的</span> 历史</h3>
									<div class="history-grids">
										<div class="col-md-3 history-grid">
											<figure class="icon">
											<i class="glyphicon glyphicon-cutlery"></i>
											</figure>
											<h5>68</h5>
											<h6>已推出的菜肴数</h6>										
										</div>
										<div class="col-md-3 history-grid">
										<figure class="icon">
											 <i class="glyphicon glyphicon-thumbs-up"></i>
											</figure>
											<h5>400</h5>
											<h6>好的评价</h6>										
										</div>
										<div class="col-md-3 history-grid">
										<figure class="icon">
											 <i class="glyphicon glyphicon-flag"></i>
											</figure>
											<h5>10</h5>
											<h6>目前已开店年数</h6>
										</div>
										<div class="col-md-3 history-grid">
											<figure class="icon">
											 <i class="glyphicon glyphicon-user"></i>
											</figure>
											<h5>100%</h5>
											<h6>员工满意度</h6>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						<!--our History-->
						<!--footer-->
					<div class="footer-section">
						<div class="container">
							<div class="footer-grids">
								<div class="col-md-3 footer-grid">
									<h4>产品</h4>
									<ul>
										<li>牛排 </li>
										<li>披萨</li>
										<li>汉堡 & 薯条</li>
										<li>沙拉</li>
										<li>海鲜</li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid">
									<h4>开店时间</h4>
									<ul>
										<li>周一: 关闭</li>
										<li>周二-周五 : 10am - 11pm</li>
										<li>周六-周日n : 9am - 11pm</li>
										<li>公共假日 : 10am - 8pm</li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid">
									<h4>联系方式</h4>
									<ul>
										<li><a href="#">QQ</a></li>
										<li><a href="#">微信</a></li>
										<li><a href="#">美团</a></li>
										<li><a href="#">大众点评</a></li>
										<li><a href="#">百度外卖</a></li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid">
									<h4>地址</h4>
									<p>北京市</p>
									<p>海淀区，西土城路，10号</p>
									<p>Telephone : +1 234 567 890</p>
									<p>FAX : + 1 234 567 890</p>
									<p>E-mail : <a href="mailto:example@mail.com"> example@mail.com</a></p>

								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
			<!--footer-->	

				</div>
				<!--copy-->
					<div class="copy-section">
						<div class="container">
							<p>制作人:曾颖森  柏沫羽  李禹锋  江宇鸥</a></p>
						</div>
					</div>
			<!--footer-->	

				</div>
				
				<!--copy-->
</body>
</html>
