<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>后台管理界面</title>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/admin/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="__PUBLIC__/admin/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/admin/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="__PUBLIC__/admin/css/morris-0.4.3.min.css">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">北邮有间餐厅</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active"><a href="index.html"><i class="fa fa-dashboard"></i> 管理员信息</a></li>
            <li><a href="tables.html"><i class="fa fa-table"></i> 评论管理</a></li>
            <li><a href="forms.html"><i class="fa fa-edit"></i> 添加新菜</a></li>
            <li><a href="bootstrap-grid.html"><i class="fa fa-wrench"></i>最近新菜</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
       
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 退出 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                
                
                <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
		
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
          <div class="panel-default">
            <h1>管理员信息 </h1>
            <ol class="breadcrumb">
              <li><a href="index.html"><i class="icon-dashboard"></i> 首页</a></li>
              <li class="active"><i class="icon-file-alt"></i> 管理员信息</li>
            </ol>
          </div>
          </div>



        </div><!-- /.row -->
<div class="col-lg-2">
     
     <img alt="profile-picture" src="__PUBLIC__/admin/images/profile-pic.jpg" />
     
     </div>
     <!-- <div class="col-lg-10"> -->
      <div class="col-lg-4 contact-left col-lg-offset-1">
                <div class="bs-example" data-example-id="panel-without-body-with-table">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">管理员信息</div>
                
                        <!-- Table -->
                        <table class="table">
                          <thead>
                             <!--  <tr>
                                <th align="center" width="10%">用户</th>
                                <th align="center" width="10%">邮箱</th>
                                <th align="center" width="10%">时间</th>
                                <th align="center" width="70%">评论</th>
                              </tr> -->
                          </thead>
                          <tbody>
                              <tr>

                                <td>序号</td>
                                <td>01</td>

                              </tr>
                              <tr>
                                <td>姓名</td>
                                <td>曾颖森</td>
                              </tr>
                              <tr>
                                <td>权限</td>
                                <td>管理员</td>
                              </tr>
                               <tr>
                                <td>账号</td>
                                <td>yingsen</td>
                              </tr>
                               <tr>
                                <td>密码</td>
                                <td>123456</td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                    </div>
                
              <div class="col-lg-5 contact-left">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
     <!-- <table class="table table-bordered">
   <caption ></caption>
   <thead>
      <tr>
         <th>名称</th>
         <th>城市</th>
         <th>密码</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
         <td>560001</td>
      </tr>
      <tr>
         <td>Sachin</td>
         <td>Mumbai</td>
         <td>400003</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Pune</td>
         <td>411027</td>
      </tr>
   </tbody>
</table> -->

   </div>
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

<!-- information-body -->
<!-- <div class="tab-content no-border padding-24">
hello
</div>
 -->
<!--  <div id="page-wrapper">
 <div class="row">
     <div class="col-lg-2 col-lg-offset-2">
     
     <img alt="profile-picture" src="images/profile-pic.jpg" />
     
     </div>
     <div class="col-lg-8"></div>
     <table class="table table-bordered">
   <caption>个人信息</caption>
   <thead>
      <tr>
         <th>名称</th>
         <th>城市</th>
         <th>密码</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
         <td>560001</td>
      </tr>
      <tr>
         <td>Sachin</td>
         <td>Mumbai</td>
         <td>400003</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Pune</td>
         <td>411027</td>
      </tr>
   </tbody>
</table>

   </div>
   </div>
      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="__PUBLIC__/admin/js/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->    <script src="__PUBLIC__/admin/js/raphael-min.js"></script>
    <script src="__PUBLIC__/admin/js/morris-0.4.3.min.js"></script>
    <script src="__PUBLIC__/admin/js/morris/chart-data-morris.js"></script>
    <script src="__PUBLIC__/admin/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="__PUBLIC__/admin/js/tablesorter/tables.js"></script>

  </body>
</html>
